@font-face {
    font-family: 'stagblack_italic';
    src: url('stag-blackitalic-webfont.eot');
    src: url('stag-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stag-blackitalic-webfont.woff') format('woff'),
         url('stag-blackitalic-webfont.ttf') format('truetype'),
         url('stag-blackitalic-webfont.svg#stagblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stagbold';
    src: url('stag-bold-webfont.eot');
    src: url('stag-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stag-bold-webfont.woff') format('woff'),
         url('stag-bold-webfont.ttf') format('truetype'),
         url('stag-bold-webfont.svg#stagbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'staglight_italic';
    src: url('stag-lightitalic-webfont.eot');
    src: url('stag-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stag-lightitalic-webfont.woff') format('woff'),
         url('stag-lightitalic-webfont.ttf') format('truetype'),
         url('stag-lightitalic-webfont.svg#staglight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stagbook';
    src: url('stag-book-webfont.eot');
    src: url('stag-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('stag-book-webfont.woff') format('woff'),
         url('stag-book-webfont.ttf') format('truetype'),
         url('stag-book-webfont.svg#stagbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stagmedium';
    src: url('stag-medium-webfont.eot');
    src: url('stag-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('stag-medium-webfont.woff') format('woff'),
         url('stag-medium-webfont.ttf') format('truetype'),
         url('stag-medium-webfont.svg#stagmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stagmedium_italic';
    src: url('stag-mediumitalic-webfont.eot');
    src: url('stag-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stag-mediumitalic-webfont.woff') format('woff'),
         url('stag-mediumitalic-webfont.ttf') format('truetype'),
         url('stag-mediumitalic-webfont.svg#stagmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}